

img {
    height: 350px;
    width: 300px;
}

.first-section p {
    max-width: 700px;
    min-width: 393px;
    line-height: 40px;
}

.first-section, h1 {
    display: flex;
    justify-content: space-evenly;
}

.second-section {
    display: flex;
    justify-content: center;
}

/*.first-section {
    display: flex;
    justify-content: space-around;
    margin: 0 80px;
}

.first-section p {
    width: 600px;
}

img {
    height: 350px;
    width: 300px;
}

p {
    line-height: 40px;
}

.second-section {
    display: flex;
    justify-content: center;
}
