* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

h4 {
    text-align: center;
    color: rgb(107, 137, 107);
}

h2 {
    text-align: center;
    margin: 0 400px;
    line-height: 40px;
    display: flex;
}