.sunneyTopSection {
    text-align: center;
    border-bottom: var(--border);
}

.sunneyTopSection h1 {
    font-weight: bolder;
    font-size: 5rem;
}

img {
    width: 60%;
    margin: auto;
    display: block;
}

.sunneySecondSection h2, .sunneyThirdSection h2, .sunneyFourthSection h2 {
    font-weight: bold;
    font-size: 2rem;
}

.sunneySecondSection p, .sunneyThirdSection p, .sunneyFourthSection p {
    line-height: 30px;
    width: 50%;
    margin: auto;
    display: block;
    text-align: start;
    margin-bottom: 70px;
}

.sunneySecondSection, .sunneyThirdSection, .sunneyFourthSection {
    text-align: center;
}

.sunneyLowfi h2, .sunneyBranding h2, .sunneyHifi h2{
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    font-size: 30px;
}

.sunneyLowfi, .sunneyBranding, .sunneyHifi{
    margin-bottom: 100px;
}