* {
box-sizing: border-box;
}

.david, .cat {
    height: 400px;
    width: 600px;
}

.vines {
    height: 500px;
    width: 650px;
}

.fish, .couple {
    height: 400px;
    width: 600px;
    margin: 20px 0;
}

.dog, .dumpling {
    height: 500px;
    width: 600px;
    margin: 20px 0;
    
}

.paintinggirl, .oil {
    height: 480px;
    width: 370px;
}

.old, .self {
    height: 457px;
    width: 370px;
}