/* buttons */
.button {
    margin-left: 1em;
    font-family: "Roboto";
    background-color: #f8e2d1;
    border-radius: .5rem;
    border: 0;
    box-sizing: border-box;
    color: #111827;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 4em;
}

.button:hover {
    background-color: #000000;
    color: #ffffff;
}