footer {
  border-top: 1px solid #889779;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.footer-nav {
  display: flex;
  align-items: center;
}

.footer-nav ul {
  display: flex;
  align-items: center;
}

.footer-nav span {
  margin-right: 20px;
  font-weight: bold;
}

.footer-nav li {
  margin-left: 1.2em;
  list-style: none;
}

.bottom {
  display: flex;
  align-items: center;
}

.bottom li {
  margin-left: 1.2em;
  list-style: none;
}