@media (max-width: 500px) {

  /* footer {
    margin: 0;
    padding: 0;
      align-items: center;
      background-color: red;
      justify-content: center;
  }

  .bottom {
    margin: 0;
    padding: 0;
    background-color: blue;
  } */
}

footer {
  border-top: 1px solid #889779;
  padding-top: 20px;
  display: flex;
  padding: 2em 4em;
  flex-wrap: wrap;
  font-size: large;
}

 .footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav span {
  font-weight: bold;
}

.footer-nav li {
  display: flex;
  align-items: flex-start;
}

.bottom {
  margin-left: auto;
}

.footer-nav a {
  color: #06070E;
}

.footer-nav a:hover {
  color: rgb(43, 59, 49);
}