:root {
    --bg-color: #fffbf9;
    --title-size: 48px;
    --shadow: drop-shadow(gray 0 0 5px);
    --border: 1px solid #889779;
}

* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    background-color: var(--bg-color);
    list-style-type: none;
    scroll-behavior: smooth;
}

.pages {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
} 

a {
    color: #06070E;
}

a:hover {
    color: rgb(43, 59, 49);
}

header {
    border-bottom: var(--border)
}