:root {
    --bg-color: #fffbf9;
    --title-size: 48px;
    --shadow: drop-shadow(gray 0 0 5px);
    --border: 1px solid #889779;
}

* {
    text-decoration: none;
    box-sizing: border-box;
    background-color: var(--bg-color);
    list-style-type: none;
    scroll-behavior: smooth;
}

.logo {
    margin-right: auto; /* Pushes the logo to the left */
}

.nav-pages {
    display: flex;
}

.pages {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Centers items vertically */
    width: 100%;
} 

a {
    color: #06070E;
    margin-left: 2em;
}

a:hover {
    color: rgb(43, 59, 49);
}

header {
    border-bottom: var(--border);
    padding: 1em 2em; /* Adds padding to the header */
}