@media screen and (max-width: 500px) {
  img {
      max-width: 100%;
      height: auto;
  }
}

.intro-page, .first-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border-bottom: 1px solid #889779; */
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto; 
  border-radius: 10px;
}

.intro-paragraph {
  max-width: 1000px;
  line-height: 45px;
  text-align: center;
  font-size: 2em;
}

.my-works {
  font-style: italic;
  margin-bottom: 3em;
}

.frontpage-role {
  line-height: 40px;
  font-style: italic;
}

.works-section {
  margin-top: 100px;
}

/* .works-title {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  font-size: var(--title-size);
} */

.first-section {
  border-bottom: var(--border)
}