@media screen and (max-width: 1200px) {
    .sunney-showcase {
        flex-direction: column;
        align-items: center;
    }

    .description-section {
        margin-right: 5em;
        margin-top: 3em;
    }

    .sunney-button, .case-study-button {
        display: flex;
        /* margin-right: 1em; */
        margin-bottom: 3em;
    }
}

.sunney-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 10em;
}


.Sunney {
    height: 20em;
    width: 27em;
    /* filter: var(--shadow); */
}

.sunney-showcase, .description-section {
    display: flex;
    justify-content: space-around;
}

.sunney-showcase {
    margin-bottom: 10em;
}

.description-section h3 {
    font-size: 2em;
    margin-bottom: 0.1em;
    /* margin-left: 1em; */
    font-family: 'EB Garamond';
}

.description-section h4 {
    color: rgb(107, 137, 107);
    margin-bottom: 1em;
    margin-left: 1em;
    font-family: 'EB Garamond';
}

.description-section p {
    color:#222325;
    margin-bottom: 0.5em;
    font-family: "Roboto";
    margin-left: 1em;
    max-width: 20em;
    flex-wrap: wrap;
    text-align: left;
}

.description-section {
    border-top: 0.2em solid rgb(107, 137, 107);
    border-bottom: 0.2em solid rgb(107, 137, 107);
}

.description-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* max-width: 500px;
    min-width: 250px; */
    /* font-size: 15px; */
    margin-left: 5em;
    align-items: flex-start;
}
/* this is for About page */
.word-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sunney-anchor {
    display: flex;
    justify-content: center;
}
