/* delete when finished */
.wip {
    display: flex;
    justify-content: center;
    margin: 10em;
}


/* css for the top section */
@media screen and (max-width: 500px) {
    .data-about-project {
        flex-wrap: wrap;
    }
}

/* end */



/* css for videos and the captions */

.no-controls {
    pointer-events: none; /* Disable all pointer events */
    max-width: 50%;
}

.video-container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.video-container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.video-caption {
    text-align: center;
    max-width: 15em;
    font-weight: 700;
    font-size: x-large;
    margin-bottom: 2em;
    line-height: 1.5em;
}

.sunney-solution video {
    height: 30em;
    width: 30em;
}

/* end */

.sunneyTopSection {
    text-align: center;
    border-bottom: var(--border);
    margin-bottom: 5em;
}

.sunneyTopSection ul {
    margin-bottom: 3em;
}

.sunney-overview-title {
    font-size: small;
}

.data-about-project {
    display: flex;
    justify-content: space-evenly;
}

.sunneyTopSection p {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 1.3em;

}

.data-about-project span {
    font-size: large;
    font-weight: 500;
}

.data-about-project li {
    margin-top: 1em;
}

.sunneyTopSection h1 {
    font-family: 'ED Garamond';
    font-weight: bolder;
    font-size: 5rem;
}

img {
    width: 50%;
    margin: auto;
    display: block;
}

.sunney-overview h2, .sunney-problem h2, .sunney-solution h2,
 .sunneyFourthSection h2, .sunney-comp-analysis h2, .sunney-user-interviews h2, .sunney-findings-analysis h2, .sunney-design h2 {
    font-family: 'ED Garamond';
    font-weight: bold;
    font-size: 2rem;
}

.sunney-overview p, .sunney-problem p, .sunney-solution p,
 .sunneyFourthSection p, .sunney-comp-analysis p, .sunneyHifi p,
 .sunney-comp-analysis span, .sunney-design span, .sunneyLowfi p {
    line-height: 30px;
    width: 50%;
    margin: auto;
    display: block;
    text-align: start;
    margin-bottom: 3em;
}

.sunney-user-interviews ul, .sunney-findings-analysis ul {
    line-height: 1.5em;
    width: 50%;
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom: 5em;

}

.sunney-user-interviews li, .sunney-findings-analysis li {
    line-height: 1.5em;
    width: 50%;
    margin: auto;
    display: block;
    text-align: start;

}

.sunney-user-interviews span, .sunney-findings-analysis span {
    width: 50%;
    margin: auto;
    display: block;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1em;

}

.sunney-comp-analysis p, .sunney-user-interviews span, .sunney-findings-analysis span {
    margin-top: 2em;
}

.sunney-overview, .sunney-problem, .sunney-solution,
 .sunneyFourthSection, .sunney-comp-analysis, .sunney-user-interviews, .sunney-findings-analysis, .sunney-design {
    text-align: center;
}

.sunney-problem p {
    background-color: #e9e5e1;
    padding: 2em;
}

.sunney-solution p {
    background-color: #f8e2d1;
    padding: 2em;
}

.sunney-overview h2, .sunney-problem h2, .sunney-solution h2, .sunney-comp-analysis h2,
.sunney-user-interviews h2, .sunney-findings-analysis h2, .sunney-design h2, .sunneyLowfi h2,
 .sunneyBranding h2, .sunneyHifi h2 {
    display: flex;
    font-family: 'ED Garamond';
    justify-content: flex-start;
    margin-left: 20%;
    font-size: 30px;
}

.sunney-design h3 {
    display: flex;
    justify-content: flex-start;
    margin-left: 23%;
    font-weight: 600;
    font-size: 1.3em;
}

.sunneyLowfi, .sunneyBranding, .sunneyHifi {
    margin-bottom: 100px;
}

.sunneyHifi p {
    margin-bottom: 0.1em;
}